{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% set breadcrumbs = {
      items: [
        {
          link: '/beta/v5/your-profile',
          title: 'Your profile'
        },
        {
          title: 'Capacity'
        }
      ]
    }
  %}
  {% include "includes/breadcrumbs.html" %}

  <ul id="sub-nav">
    <li><a href="/beta/v5/your-profile">Overview</a></li>
    <li><a href="#" class="active">Capacity</a></li>
    <li><a href="#">Caseload</a></li>
    <li><a href="#">Case progress</a></li>
    <li><a href="#">Notes</a></li>
  </ul>

  <header class="heading-xlarge">
    <span class="heading-secondary">
      Your capacity
    </span>
    Jane Brown
  </header>

  <div id="profile-capacity"></div>

</main>
{% endblock %}
