{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}


  {% include "includes/breadcrumbs.html" %}

  <ul id="sub-nav">
    <li><a href="#" class="active">Overview</a></li>
    <li><a href="your-profile/capacity">Capacity</a></li>
    <li><a href="#">Caseload</a></li>
    <li><a href="#">Case progress</a></li>
    <li><a href="#">Notes</a></li>
  </ul>

  <header class="heading-xlarge">
    <span class="heading-secondary">
      Your profile
    </span>
    Jane Brown
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <table>
        <tbody>
          <tr>
            <th scope="row">Grade</th>
            <td>PO</td>
          </tr>
          <tr>
            <th scope="row">Team</th>
            <td><a href="/beta/v5/team">Medway</a></td>
          </tr>
          <tr>
            <th scope="row">Capacity</th>
            <td>100%</td>
          </tr>
          <tr>
            <th scope="row">Cases</th>
            <td>44</td>
          </tr>
          <tr>
            <th scope="row">Contracted hours</th>
            <td>37</td>
          </tr>
          <tr>
            <th scope="row">Reduction</th>
            <td>7</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column-one-third">
      <section class="wmt-compare">
        <form class="" action="" method="post">
          <h1 class="heading-medium">Compare</h1>
          <div>
            Compare yourself to:
          </div>
          <select class="wmt-compare__select form-control" name="">
            <option selected>Ademola Akinola</option>
            <option >Amanda Steyn</option>
            <option >Chelsea Luckham</option>
            <option >Clare Hastings</option>
            <option >David Ashley</option>
            <option >Evonne Samuda</option>
            <option >Martin Smith</option>
            <option >Mavis Tonkin</option>
            <option >Mick Essen</option>
          </select>
          <input type="submit" class="button" value="Compare now">
          <div><a href="#">or use the compare tool</a></div>
        </form>
      </section>
    </div>
  </div>

</main>
{% endblock %}
