<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="/public/javascripts/highcharts.js"></script> -->
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<!-- <script src="/public/javascripts/application.js"></script> -->
<!-- <script src="/public/javascripts/chart.js"></script> -->
<script src="/public/javascripts/filter.js"></script>
<!-- <script src="/public/javascripts/nps.js"></script> -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="/public/javascripts/ldu-capacity.js"></script>
<script src="/public/javascripts/team-capacity.js"></script>
<script src="/public/javascripts/profile-capacity.js"></script>
<script src="/public/javascripts/profile-caseload.js"></script>
<script src="/public/javascripts/plot-line-team-1.js"></script>
<script src="/public/javascripts/plot-line-team-2.js"></script>
<script src="/public/javascripts/plot-line-team-combined.js"></script>
<script src="/public/javascripts/plot-line.js"></script>

<script src="/public/javascripts/plot-bar.js"></script>
<script src="/public/javascripts/plot-cases.js"></script>
<script src="/public/javascripts/dropdown.js"></script>

<script src="/public/javascripts/jquery.dataTables.min.js"></script>




<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->

<script>
  $(document).ready(function() {
    $('#example').DataTable({
      paging: false,
      searching: false,
      info: false
    });
  });
</script>

<script>
$(document).ready(function(){
	var isCommunityExpanded, isLicenceExpanded, isCustodyExpanded = false;
	var dealWithTierHeader = function() {
		if(isCommunityExpanded || isLicenceExpanded || isCustodyExpanded){
			$(".tier-header").show()
		} else {
			$(".tier-header").hide()
		}
	}
    $(".open-community").click(function(){
        $(".sub-tier-header-community, .hide-community-total, .community-expanded").toggle();
        isCommunityExpanded = !isCommunityExpanded;
        dealWithTierHeader()
    });

    $(".open-licence").click(function(){
        $(".sub-tier-header-licence, .hide-licence-total, .licence-expanded").toggle();
        isLicenceExpanded = !isLicenceExpanded
        dealWithTierHeader()
    });

    $(".open-custody").click(function(){
        $(".sub-tier-header-custody, .hide-custody-total, .custody-expanded").toggle();
        isCustodyExpanded = !isCustodyExpanded
        dealWithTierHeader()
    });
});


</script>
