// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.filter{
    background: red;
    width: 100%!important;
}

.filter .head{
    background: #ccc;
    font-weight: bold;
    padding: 10px;
}


.column-one-fifth {
    width: 20%;
    float: left;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-group.inline {
    float: left;
    display: inline;
    width: auto;
    margin-right: 10px;
}

.form-group.inline input {
    width: 100%;
}

//// dropdown


.dropdown {
  position: relative;
}

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: $black;
  font-size: 19px;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

.dropdown dt a {
  background-color: #dde0e2;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: auto;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #dde0e2;
  border: 0;
  color: #0b0c0c;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: relative;
  list-style: none;
  height: 100px;
  overflow: auto;
  overflow-y: scroll;
}

.dropdown dd ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.dropdown dd ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.dropdown dd ul li{
  background-color: #fff;
}

.dropdown dd ul li label{
  display: inline-block!important;
  margin-left:30px!important;
}


.dropdown dd ul li input {
    width: 12px;
    border: none;
    margin: 3px 10px 0 10px;
    vertical-align: top;
    position: absolute;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

span.down-arrow {
    float: right;
    display: inline-block;
}

//// dropdown




// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.bold td{
    font-weight:bold!important;
}

.disabled {
    color:#cccccc!important;
    cursor: not-allowed;
}

.button.grey {
    background:#ccc;
}

.grey-bg{
    background:#e6e6e6;
    padding:25px 10px 0px 10px;
    margin:0px 0 0px 0;
    overflow:auto;
}

select {
    background:#fff!important;
}
// plotly

.full-width-chart {
    background:Red;
    max-width:100%!important;
    overflow:hidden;
}
//

#sub-nav{

background-color: #fff;
border-top: 1px solid #bfc1c3;
border-bottom: 1px solid #bfc1c3;
padding-top: 0.75em;
padding-bottom: 0.75em;
padding: 0;
z-index: 999;

}
#sub-nav li{
position:relative;
display:inline;
}
#sub-nav a{
display: inline-block;
font-weight: bold;
margin: 0;
outline: 0;
padding: 15px 30px;
text-decoration: none;
}
#sub-nav ul{
position:absolute;
/*top:100%; Uncommenting this makes the dropdowns work in IE7 */
left:-9999px;
margin:0;
padding:0;
text-align:left;
}
#sub-nav ul li{
display:block;
}
#sub-nav li:hover ul{
left:0;
}
#sub-nav li:hover a{
text-decoration:underline;
background:#f1f1f1;
}
#sub-nav li:hover ul a{
text-decoration:none;
background:#dde0e2;
}
#sub-nav li:hover ul a:hover{
text-decoration:underline;
background:#f1f1f1;
}
#sub-nav ul a{
white-space:nowrap;
display:block;
border-bottom:1px solid #ccc;
}

#sub-nav li a.active{
font-weight: bold;
background-color: #004A83;
color:#fff;


}


ul.sub-tabs {
    border-bottom:2px solid #ccc;
    display:block;
    width:100%;
    overflow:auto;
    margin:0!important;
}

ul.sub-tabs li a{
    background: #dde0e2;
    padding:10px 15px;
    margin: 0 4px 0px 0;
    display:inline-block;
    position:relative;
    float:left;
    text-decoration:none;
    color:#000;
    font-size: 18px;
}

ul.sub-tabs li a:hover{
    background: #dde0e2;
}

ul.sub-tabs li a.active{
    background: #ffc136;
    display:block;
    text-decoration:none;
}



ul.sub-tabs li a span.badge  {
    font-size: 13px;
    padding:1px 3px 0px 4px;
    min-width: 15px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    background:#004A83;
    margin:0 0 0 10px;
    font-weight:bold;
    color:#fff;
}

ul.sub-tabs li a.active span.badge {
    background:#fff;
    background:#b10e1e;
}

.form-control.full{
    width:100%;
}

table.detail-view tr th{
text-align:center;
}

span.rotate{
text-align:center;
}

table.detail-view tr td{
    font-size:12px;
}

table.detail-view tr td{
    font-size:13px;
    text-align:center;
}

table.detail-view tr td:first-child{
    padding-left:10px;
    text-align:left;
}

table.detail-view tr:nth-child(even){
    background:#f4f4f4;
}

table.detail-view tr th{
    font-size:16px;
    background:#e1f2fd;
}
/*
table.detail-view tr th:nth-child(1){
    border-right:2px solid #c4c4c4;
}

table.detail-view tr th:nth-child(2){
    border-right:2px solid #c4c4c4;
}

table.detail-view tr th:nth-child(3){
    border-right:2px solid #c4c4c4;
}

table.detail-view tr td:nth-child(2){
    border-right:2px solid #c4c4c4;
}

table.detail-view tr td:nth-child(6){
    border-right:2px solid #c4c4c4;
}

table.detail-view tr td:nth-child(8){
    border-right:2px solid #c4c4c4;
}

*/

table tr.table-sub-header td{
    font-size:13px;
    font-weight:bold;
    background:#e9f4fb;
}


.expand {
    font-size:18px;
}




span.rotate{
text-align:center;
}

table.case-detail-view tr td{
    font-size:12px;
}

table.case-detail-view tr td{
    font-size:13px;
    text-align:center;
}

table.case-detail-view tr td:first-child, table.case-detail-view tr th:first-child{
    padding-left:10px;
    text-align:left;
}

table.case-detail-view tr:nth-child(even){
    
}

table.case-detail-view tr th{
    font-size:14px;
    background:#e1f2fd;
    text-align:center;
}

table.case-detail-view tr th a{
    display:inline-block;
    width:100px;
    float:left;
    position:relative;
}

table.case-detail-view tr th a.active{
    display:inline-block;
    width:100px;
    float:left;
    position:relative;
    text-align:left;
}


table.case-detail-view-expanded tr td{
    font-size:12px;
}

table.case-detail-view-expanded tr td{
    font-size:13px;
    text-align:center;
}

table.case-detail-view-expanded tr td:first-child, table.case-detail-view tr th:first-child{
    padding-left:10px;
    text-align:left;
}

table.case-detail-view-expanded tr:nth-child(even){
    
}

table.case-detail-view-expanded tr th{
    font-size:14px;
    background:#e1f2fd;
    text-align:center;
}

table.case-detail-view-expanded tr th a{
    display:inline-block;
    width:100px;
    float:left;
    position:relative;
}

table.case-detail-view-expanded tr th a.active{
    display:inline-block;
    width:100px;
    float:left;
    position:relative;
    text-align:left;
}


table tr.table-case-sub-header td{
    font-size:13px;
    font-weight:bold;
    background:#e9f4fb;
}

table tr.table-workload-sub-header td{
    font-size:13px;
    background:#e9f4fb;
}

tr.border-none th, tr.border-none td{
    border-bottom:none!important;
}

.table-container {
    width:100%;
    overflow-x:scroll;
}



table.case-detail-view-expanded th.active{
    background:#f9e8ab;
}


table.case-detail-view-expanded td:nth-child(n+2){
    background:#f9e8ab;
}

table.case-detail-view-expanded td:nth-child(n+11){
    
}


.pad-left {
    padding-left:10px;
}

table.case-detail-view-expanded tr .bg-blue{
    background:#e1f2fd;
}

table.case-detail-view-expanded tr .bg-white{
    background:#fff;
}

///////


table.case-detail-index-expanded tr th{
    font-size:13px;
    background:#e1f2fd;
    text-align:center;
}

table.case-detail-index-expanded tr td{
    font-size:13px;
}

table.case-detail-index-expanded tr a{
    display:inline-block;
    width:100px;
    float:left;
    position:relative;

}

table.case-detail-index-expanded tr th a.active{
    display:inline-block;
    width:100px;
    float:left;
    position:relative;
    text-align:left;
}

table.case-detail-index-expanded tr td.bg-yellow {
    background:#f9e8ab;
}

table.case-detail-index-expanded tr td:first-child {
    min-width:80px!important;
    padding-left:10px;
}


table.case-detail-index-expanded tr .bg-blue{
    background:#e1f2fd;
}

table.case-detail-index-expanded tr .bg-white{
    background:#fff;
}

////

table.case-detail-index-expanded tr th{
   font-size:16px;
}

/* table.case-detail-index-expanded tr th:nth-child(1){
    border-right:2px solid #c4c4c4;
}

table.case-detail-index-expanded tr th:nth-child(2){
    border-right:2px solid #c4c4c4;
}





table.case-detail-index-expanded tr th:nth-child(3){
    border-right:2px solid #c4c4c4;
}

table.case-detail-index-expanded tr td:nth-child(2){
    border-right:2px solid #c4c4c4;
}

table.case-detail-index-expanded tr td:nth-child(16){
    border-right:2px solid #c4c4c4;
}

table.case-detail-index-expanded tr td:nth-child(18){
    border-right:2px solid #c4c4c4;
}

td.b-left {
padding-left:10px;
    border-left:2px solid #c4c4c4;

}

*/



table tr a {
}

table tr a.active {
    display: inline-block;
    width: 100px;
    float: left;
    position: relative;
    margin-left:0px;
}

td.b-left, th.b-left {
    padding-left:10px;
    border-left:2px solid #c4c4c4!important;

}

td.bg-yellow {
    background:#f9e8ab!important;
}

table tr .bg-blue{
    background:#e1f2fd;
}

table tr .bg-white{
    background:#fff;
}

table.detail-view tr td:first-child {
    min-width:110px!important;
    
}

a .expand {
    font-size:13px;
    margin-left:5px;
}

a.link-left {
    padding:8px 20px;
    display:block;
    float: left;
}

h1.heading-medium{
    margin:20px 0 10px 0!important;
}

h2.heading-medium{
    margin:0px 0 10px 0;
}

h3.heading-medium{
    margin:0px 0 30px 0;
}


.heading-medium.grey {
    font-size:50px;
    color:#858585;
    margin:20px 0 0 0;
}

.o-u {
    background:red!important;
    padding:2px 4px;
    color:#fff;
    font-weight:bold;
}


.heading-xlarge {
    margin-bottom:15px;
}

.pull-right {
    float:right;
}


#global-header-bar {
    max-width:1000px!important;
    padding-left:20px;
    padding-right:20px;
}

#global-cookie-message p, #footer .footer-wrapper, #content, #global-header .header-wrapper {
    max-width:1040px!important;
    padding-left:20px;
    padding-right:20px;
}