/*#content {
    max-width: 80%!important;
}

#global-header-bar .header-wrapper {
    max-width: 100%!important;
    width: 100%!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}*/

table.settings td:first-child{
    // width:125px;
}

table.settings td:nth-child(2) input{
    // width:100px;
}




.data-container {
    overflow-y: scroll;
    margin-bottom: 20px;
    overflow-x:scroll;
    overflow-y:visible;
    padding:0;
}

table.data-table {
    // font-size: 10px;
    max-width: 1024px!important;
}

table.data-table tr th{
    // font-size: 16px;
    padding: 0 10px;
    background: #dcf3fd;
    border: 1px solid #d9d9d9;
}

table.data-table tr th:nth-child(2){
    // font-size: 16px;
}

table.data-table tr td{
    // font-size: 12px;
    padding:5px 10px 5px 10px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
    border: 1px solid #d9d9d9!important;
}

table th, table td {
    // border:inherit!important;
}



table.data-table tr:nth-child(odd){
    // font-size: 12px;
    padding: 10px 5px;

    background: #efefef;
}

table.data-table tr th:first-child{
    padding:10px 5px 15px 15px;
}

table.data-table tr td:first-child{
    // font-size: 12px;
    min-width: 120px!important;
    padding:5px 10px 5px 10px;
    text-align: left;
}

table.data-table tr.data-sub-header td {
    min-width: 25px;
    text-align: center;
    font-weight: bold;
    background: #e6f4fb;
    padding: 5px 10px 5px 10px;
}

table.data-table tr.data-sub-header td:first-child{

    padding: 5px 5px 5px  15px;
}

table.data-table tr.data-sub-header td:first-child,
table.data-table tr.data-sub-header td:nth-child(5),
table.data-table tr.data-sub-header td:nth-child(6),
table.data-table tr.data-sub-header td:nth-child(7) {
    min-width: 60px;
    text-align: left;
    font-weight: bold;
}




ul.sub-tier-header {
width: 369px;
display: block;
float: left;
margin: -5px -10px -5px -10px;
}

ul.sub-tier-header li {
display: inline-block;
width: 35px;
text-align: center;
font-weight: bold;
padding: 5px 0;
background: rgba(255,228,157,0.8);
margin:0;
float: left;
border-left: 1px solid #d9d9d9;
}

ul.sub-tier-header li:first-child {
display: inline-block;
width: 45px;
padding:5px 5px;
}

ul.sub-tier-header li:nth-child(2) {
display: inline-block;
width: 60px;
}


ul.tier {
width: 369px;
display: block;
float: left;
margin: -10px -10px -10px -10px;
}

ul.tier li {
display: inline-block;
width: 35px;
text-align: center;
padding: 5px 0;
background: rgba(255,228,157,0.5);
margin:0;
float: left;
border-left: 1px solid #d9d9d9;
}

ul.tier li:first-child {
display: inline-block;
width: 45px;
padding:5px 5px;
}

ul.tier li:nth-child(2) {
display: inline-block;
width: 60px;
}
