.data-container {
    overflow-y: scroll;
}

table.data-table {
    font-size: 12px;
    width:auto; 
}

table.data-table tr th{
    font-size: 18px;
    padding:5px;
}

table.data-table tr td{
    font-size: 15px;
    padding:5px;
}

table.data-table tr th:first-child{
    padding:15px 5px 15px 15px;
}

table.data-table tr td:first-child{
    font-size: 15px;
    min-width: 130px!important;
    padding:5px 5px 5px 15px;
}



ul.test {
width: 400px;
display: block;
float: left;
}

ul.test li {
display: inline-block;
width: 35px;
text-align: center;
font-weight: bold;
}

ul.test li:first-child {
display: inline-block;
width: 50px;
}

ul.test li:nth-child(2) {
display: inline-block;
width: 70px;
}


ul.test-2 {
width: auto;
display: block;
float: left;
}

ul.test-2 li {
display: inline-block;
width: 35px;
text-align: center;
}

ul.test-2 li:first-child {
display: inline-block;
width: 50px;
}

ul.test-2 li:nth-child(2) {
display: inline-block;
width: 70px;
}


