{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "includes/breadcrumbs.html" %}

  {% include "includes/entity_header.html" %}
  {% include "includes/sub_nav.html" %}

  <div id="ldu-capacity"></div>

  <br><br>


  <h2 class="heading-medium">Capacity by grade</h2>
  <table class="data-table">
    <thead>
      <tr>
        <th>Team</th>
        <th colspan="3">Monthly capacity</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>PO</th>
        <th>PSO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Canterbury</td>
        <td>107%</td>
        <td>90%</td>
        <td>180%</td>
      </tr>
      <tr>
        <td>Dartford &amp; Gravesham</td>
        <td>109%</td>
        <td>153%</td>
        <td>59%</td>
      </tr>
      <tr>
        <td>Maidstone</td>
        <td>106%</td>
        <td>111%</td>
        <td>89%</td>
      </tr>
      <tr>
        <td>Medway</td>
        <td>92%</td>
        <td>99%</td>
        <td>77%</td>
      </tr>
      <tr>
        <td>South East Kent</td>
        <td>108%</td>
        <td>114%</td>
        <td>78%</td>
      </tr>
      <tr>
        <td>Swale</td>
        <td>109%</td>
        <td>122%</td>
        <td>62%</td>
      </tr>
      <tr>
        <td>Thamet</td>
        <td>111%</td>
        <td>111%</td>
        <td>94%</td>
      </tr>
      <tr>
        <td>West Kent</td>
        <td>104%</td>
        <td>112%</td>
        <td>80%</td>
      </tr>
    </tbody>
  </table>

</main>
{% endblock %}
