{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <a class="link-back" href="/team/setup/LDU">Back <span class="visuallyhidden"> to LDU selection</span></a>

  {% include "includes/breadcrumbs.html" %}

  {% include "includes/entity_header.html" %}

  <form>
    <div class="form-group">
      <fieldset>

        <legend>
          <div class="heading-medium">Please select a team to view</div>
        </legend>

        <div class="multiple-choice">
          <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
          <label for="radio-1">Canterbury</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
          <label for="radio-2">Dartford &amp; Gravesham</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-3" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
          <label for="radio-3">Maidstone</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-4" type="radio" name="radio-group" value="Isle of Man or the Channel Islands" checked>
          <label for="radio-4">Medway</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-5" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
          <label for="radio-5">South East Kent</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-6" type="radio" name="radio-group" value="I am a British citizen living abroad">
          <label for="radio-6">Swale</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-6" type="radio" name="radio-group" value="I am a British citizen living abroad">
          <label for="radio-6">Thanet</label>
        </div>
        <div class="multiple-choice">
          <input id="radio-7" type="radio" name="radio-group" value="I am a British citizen living abroad">
          <label for="radio-7">West Kent</label>
        </div>
      </fieldset>
      <br>
      <br>
      <div class="form-group">
        <a href="/team/medway" class="button">View selected team</a>
        <div class="u-space-t10">
          or <a href="/team/setup/LDU">go back to LDU selection</a>
        </div>
      </div>
    </div>
  </form>

</main>
{% endblock %}
