{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% set breadcrumbs = {
      items: [
        {
          link: 'index',
          title: 'South East and Easter'
        },
        {
          link: '/beta/v5/ldu/capacity',
          title: 'Kent'
        },
        {
          title: 'Capacity'
        }
      ]
    }
  %}
  {% include "includes/breadcrumbs.html" %}

  <ul id="sub-nav">
    <li><a href="/beta/v5/ldu/capacity">Overview</a></li>
    <li><a href="#" class="active">Capacity</a></li>
    <li><a href="/beta/v5/ldu/caseload">Caseload</a></li>
    <li><a href="#">Case progress</a></li>
    <li><a href="#">Notes</a></li>
  </ul>

  <header class="heading-xlarge">
    <span class="heading-secondary">
      Kent LDU
    </span>
    Capacity
  </header>

  <div id="ldu-capacity"></div>

  <br><br>


  <h2 class="heading-medium">Capacity by grade</h2>
  <table class="data-table">
    <thead class="wmt-table__head">
      <tr>
        <th colspan="2">Team</th>
        <th class="u-table-colsplit" colspan="12">Monthly capacity</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th class="u-table-colsplit">Jan</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Apr</th>
        <th>May</th>
        <th>June</th>
        <th>July</th>
        <th>Aug</th>
        <th>Sept</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dec</th>
      </tr>
    </thead>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">Canterbury</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">Dartford &amp; Gravesham</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">Maidstone</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">Medway</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">South East Kent</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">Swale</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">Thamet</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
    <tbody class="wmt-table__block">
      <tr>
        <td rowspan="2">West Kent</td>
        <td>PO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
      <tr>
        <td>PSO</td>
        <td class="u-table-colsplit">110%</td>
        <td>112%</td>
        <td>100%</td>
        <td>120%</td>
        <td>110%</td>
        <td>115%</td>
        <td>100%</td>
        <td>100%</td>
        <td>112%</td>
        <td>118%</td>
        <td>123%</td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>

</main>
{% endblock %}
