{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h2 class="heading-medium">Search</h2>

  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select class="form-control full">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <br>
      <a href="" class="button search">Search</a>
    </div>

  </div>
  <ul id="sub-nav">

    <li>
    <a href="index">Details</a>
    </li>
    <li>
      <a href="capacity" class="active">Capacity</a>
    </li>
    <li>
      <a href="cases">Cases</a>
    </li>
    <li>
      <a href="">LDU Notes</a>
    </li>     
  </ul>

<br>
  <ul class="sub-tabs">
    <li>
      <a href="" class="active">Line Chart</a>
    </li>
    <li>
      <a href="">Role</a>
    </li>
  </ul>
  
  <br>

  <img src="/public/images/chart.jpg" width="100%"></img>



</main>

{% endblock %}


