{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h2 class="heading-medium">Search</h2>

  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select class="form-control full">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <br>
      <a href="" class="button search">Search</a>
    </div>

  </div>


  <ul id="sub-nav">

    <li>
      <a href="index" class="active">Overview</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <li>
      <a href="cases">Cases</a>
    </li>
    <li>
      <a href="">LDU Notes</a>
    </li>  
  </ul>

  <br>

<table class="detail-view">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="4">Total</th>
      <th colspan="2">Hours</th>
      <th colspan="4">Capacity</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td><a href="cases-expand">Cases <span class="expand">&#11020;</span></a></td>
      <td>Priority</td>
      <td>PAROMs (Due)</td>
      <td>Points</td>
      <td>Contracted</td>
      <td>Reduced</td>
      <td>% OM</td>
      <td>Points</td>
      <td>%</td>
    </tr>

    <tr class="table-sub-header">
      <td></td>
      <td></td>
      <td>
        <ul class="case-detail-header">
        <li>-</li>
        <li>D2</li>
        <li>D1</li>
        <li>C2</li>
        <li>c1</li>
      </ul>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="">Christopher Sisk</a></td>
      <td>PSO</td>
      <td>
      <ul class="case-detail">
        <li>12</li>
        <li>12</li>
        <li>12</li>
        <li>12</li>
        <li>12</li>
      </ul>
      </td>
      <td>0</td>
      <td>0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td>50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    
</table>
 





</main>

{% endblock %}


