{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h2 class="heading-medium">Search</h2>

  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select class="form-control full">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <br>
      <a href="" class="button search">Search</a>
    </div>

  </div>


  <ul id="sub-nav">

    <li>
      <a href="index">Overview</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <li>
      <a href="cases" class="active">Cases</a>
    </li>
    <li>
      <a href="">LDU Notes</a>
    </li>  
  </ul>

  <br>
<div class="table-container">
<table class="case-detail-view-expanded">
    
  
    <tr>
      <th colspan=""></th>
      <th colspan="9" class="active pad-left"><a href="cases-expand" class="active">Community <span class="expand">&#11020;</span></a></th>
      <th colspan=""><a href="">Licence <span class="expand">&#11020;</span></a></th>
      <th colspan=""><a href="">Custody <span class="expand">&#11020;</span></a></th>
      <th colspan="">Total</th>
      <th colspan="">Priority</th>
      <th colspan="">SDRs</th>
      <th colspan="">FDRs</th>
      <th colspan="">PAROMS</th>
    </tr>

    <tr class="table-case-sub-header border-none">
      <td></td>
      <td class="pad-left">Untiered</td>
      <td>D2</td>
      <td>D1</td>
      <td>C2</td>
      <td>C1</td>
      <td>B2</td>
      <td>B1</td>
      <td>A</td>
      <td>Total</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
    </tr>

     <tr class="table-workload-sub-header">
      <td>Workload Points</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
    </tr>

    <tr>
      <td>Farringdon</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
    </tr>

    <tr>
      <td>Hackney</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
    </tr>

    <tr>
      <td>Farringdon</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
    </tr>

    <tr>
      <td>Hackney</td>
      <td>100</td>
      <td>10</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
      <td class="bg-blue">100</td>
    </tr>
    

    
    
</table>


 
</div>




</main>

{% endblock %}


