{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

 <!--  <h1 class="heading-medium grey">Medway</h1>
  <h2 class="heading-medium">Kent</h2>
  <h3 class="heading-medium">South East and Eastern</h3> -->

  <h1 class="heading-xlarge">
      <span class="heading-secondary">South East and Eastern</span>
       Kent - Medway
    </h1>

  <!-- <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select class="form-control full">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    

  </div>
 -->

   <!-- <div class="row">
    <a href="" class="button search">Search</a>
    <a href="search" class="link link-left">Change</a>
  </div> -->


  <ul id="sub-nav">

    <li>
      <a href="index" class="active">Overview</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <!-- <li>
      <a href="cases">Cases</a>
    </li>  -->
    <!-- <li>
      <a href="">LDU Notes</a>
    </li>  -->
  </ul>

  <br>




<iframe src="https://docs.google.com/spreadsheets/d/1spRTpSmul62T9Vhjpm8uwL41oIegW4e3iaOhagHQnGs/pubhtml?gid=0&amp;single=true&amp;chrome=false&amp;widget=false&amp;headers=false" width="100%" height="500px" frameborder="0"></iframe>


<!-- 
<div class="table-container">
  <table class="detail-view">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="2" class="b-left">Capacity</th>
      <th colspan="4" class="b-left">Cases</th>
      <th colspan="2" class="b-left">Hours</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td class="b-left">Points Remaining</td>
      <td>Utilisation</td>
      <td class="b-left"><a href="index-expand">Community <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Licence <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Custody <span class="expand">[+]</span></a></td>

      <td>Total</td>
      <td class="b-left">Contracted</td>
      <td>Reduced</td>
      
    </tr>

    <tr>
      <td>Christopher Kelly</td>
      <td>PO</td>
      <td class="b-left"> <span class="o-u">&#8211;208</span></td>
      <td> <span class="o-u">109%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>5</td>
      <td>35</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Simon Brown</td>
      <td>PSO</td>
      <td class="b-left"> <span class="o-u">&#8211;404</span></td>
      <td> <span class="o-u">124%</span></td>
      <td class="b-left">5</td>
      <td>31</td>
      <td>5</td>
      <td>41</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Conor Smitt</td>
      <td>PO</td>
      <td class="b-left">120</td>
      <td>89%</td>
      <td class="b-left">8</td>
      <td>10</td>
      <td>12</td>
      <td>30</td>
      <td class="b-left">37</td>
      <td>22.60</td>
    </tr>

    <tr>
      <td>Thomas Sweeney</td>
      <td>PO</td>
      <td class="b-left">30</td>
      <td>93%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Joe Bloggs</td>
      <td>PO</td>
      <td class="b-left">80</td>
      <td>96%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Jim Wright</td>
      <td>PO</td>
      <td class="b-left"><span class="o-u">&#8211;210</span></td>
      <td><span class="o-u">110%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>9</td>
      <td>39</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Betty White</td>
      <td>PO</td>
      <td class="b-left"> <span class="o-u">&#8211; 208</span></td>
      <td> <span class="o-u">109%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>5</td>
      <td>35</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>John Orange</td>
      <td>PQF</td>
      <td class="b-left"> <span class="o-u">&#8211; 404</span></td>
      <td> <span class="o-u">124%</span></td>
      <td class="b-left">5</td>
      <td>31</td>
      <td>5</td>
      <td>41</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Colin Black</td>
      <td>PSO</td>
      <td class="b-left">67</td>
      <td>97%</td>
      <td class="b-left">8</td>
      <td>10</td>
      <td>12</td>
      <td>30</td>
      <td class="b-left">37</td>
      <td>22.60</td>
    </tr>

    <tr>
      <td>Tim Purple</td>
      <td>PQF</td>
      <td class="b-left">99</td>
      <td>91%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Sam Blue</td>
      <td>PO</td>
      <td class="b-left">97</td>
      <td>98%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Joe Green</td>
      <td>PO</td>
      <td class="b-left"><span class="o-u">&#8211;210</span></td>
      <td><span class="o-u">110%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>9</td>
      <td>39</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    
</table>
</div>
  -->





</main>

{% endblock %}


