{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h2 class="heading-medium">Search</h2>

  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select class="form-control full">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <br>
      <a href="" class="button search">Search</a>
    </div>

  </div>


  <ul id="sub-nav">

    <li>
      <a href="index" class="active">Details</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <li>
      <a href="cases">Cases</a>
    </li>
    <li>
      <a href="">LDU Notes</a>
    </li>  
  </ul>

  <br>

<div class="table-container">
  <table class="case-detail-index-expanded">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="14">Total</th>
      <th colspan="2">Hours</th>
      <th colspan="3">Capacity</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td colspan="11" class="pad-left"><a href="index">Cases <span class="expand">&#11020;</span></a></td>
      <td>Priority</td>
      <td>PAROMs</td>
      <td>Points</td>
      <td class="b-left">Contracted</td>
      <td>Reduced</td>
      <td class="b-left">% OM</td>
      <td>Points</td>
      <td>%</td>
    </tr>

    <tr class="table-sub-header">
      <td></td>
      <td></td>
      <td colspan="9" class="bg-yellow pad-left"><a href="index-expand">Community <span class="expand">&#11020;</span></a></td>
      <td><a href="index-expand" class="pad-left">Licence <span class="expand">&#11020;</span></a></td>
      <td><a href="index-expand">Custody <span class="expand">&#11020;</span></a></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
      <td></td>
    </tr>

    <tr class="bold">
      <td></td>
      <td></td>
      <td class="bg-yellow pad-left">Total</td>
      <td class="bg-yellow">Untiered</td>
      <td class="bg-yellow">D2</td>
      <td class="bg-yellow">D1</td>
      <td class="bg-yellow">C2</td>
      <td class="bg-yellow">C1</td>
      <td class="bg-yellow">B2</td>
      <td class="bg-yellow">B1</td>
      <td class="bg-yellow">A</td>
      <td class="pad-left">Total</td>
      <td>Total</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="pad-left"></td>
      <td></td>
      <td class="pad-left"></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    <tr>
      <td>Chris Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    <tr>
      <td>Chris Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    <tr>
      <td>Chris Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="bg-yellow pad-left">12</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="bg-yellow">0</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td>100</td>
      <td class="pad-left">100</td>
      <td>100</td>
      <td class="pad-left">50%</td>
      <td>50%</td>
      <td>50%</td>
    </tr>

    

    
</table>
</div>
 





</main>

{% endblock %}


