{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h2 class="heading-medium">Search</h2>

  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">Division
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">LDU Cluster
          <select class="form-control full">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    

  </div>
  <div class="row">
    <a href="" class="button search">Search</a>
    <a href="search" class="link link-left">Advanced search</a>
  </div>

<br>

  <ul id="sub-nav">

    <li>
      <a href="index" class="active">Overview</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <!-- <li>
      <a href="cases">Cases</a>
    </li>  -->
    <!-- <li>
      <a href="">LDU Cluster Notes</a>
    </li>  -->
  </ul>

  <br>

<div class="table-container">
  <table class="detail-view">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="14" class="b-left">Cases</th>
      <th colspan="2" class="b-left">Hours</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td class="b-left">Points</td>
      <td>%</td>
      <td colspan="9" class="bg-yellow"><a href="index"  class="active">Community <span class="expand">[-]</span></a></td>
      <td><a href="index-expand">Licence <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Custody <span class="expand">[+]</span></a></td>

      <td>Total</td>
      <td class="b-left">Contracted</td>
      <td>Reduced</td>
      
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
      <td class="bg-yellow pad-left">Total</td>
      <td class="bg-yellow pad-left">Untiered</td>
      <td class="bg-yellow">D2</td>
      <td class="bg-yellow">D1</td>
      <td class="bg-yellow">C2</td>
      <td class="bg-yellow">C1</td>
      <td class="bg-yellow">B2</td>
      <td class="bg-yellow">B1</td>
      <td class="bg-yellow">A</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    
</table>
</div>
 





</main>

{% endblock %}


