{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}





<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

<!--  <h1 class="heading-medium grey">Medway</h1>
<h2 class="heading-medium">Kent</h2>
<h3 class="heading-medium">South East and Eastern</h3> -->


<h1 class="heading-large">Search</h1>

<!--  <div class="breadcrumbs">
<ol>
<li><a href="">South East and Eastern</a></li>
<li><a href="">Kent</a></li>
<li><a href="">Medway</a></li>
</ol>

<a href="" class="link">remove</a>

</div> -->


<div class="grid-row">

<div class="column-one-quarter">

<div class="filter-form">
        <div class="inner-block">
<div class="filter checkbox-filter js-openable-filter" tabindex="0">
                <div class="head">
                    <span class="legend">Divisions</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="Division-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division1" id="division1"/>
                            <label for='division1'>Division name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division2" id="division2"/>
                            <label for='division2'>Division name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division3" id="division3"/>
                            <label for='division3'>Division name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division4" id="division4"/>
                            <label for='division4'>Division name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division5" id="division5"/>
                            <label for='division5'>Division name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division5" id="division5"/>
                            <label for='division5'>Division name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division5" id="division5"/>
                            <label for='division5'>Division name </label>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
</div>


<div class="column-one-quarter">
<div class="filter-form">
        <div class="inner-block">
            <div class="filter checkbox-filter js-openable-filter" tabindex="0">
                <div class="head">
                    <span class="legend">LDU Clusters</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="ldu-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu1" id="ldu1"/>
                            <label for='ldu1'>LDU cluster name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu2" id="ldu2"/>
                            <label for='ldu2'>LDU cluster name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu3" id="ldu3"/>
                            <label for='ldu3'>LDU cluster name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu4" id="ldu4"/>
                            <label for='ldu4'>LDU cluster name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu5" id="ldu5"/>
                            <label for='ldu5'>LDU cluster name </label>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
</div>

<div class="column-one-quarter">
<div class="filter-form">
        <div class="inner-block">
            <div class="filter checkbox-filter js-openable-filter" tabindex="0">
                <div class="head">
                    <span class="legend">Teams</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="region-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region1" id="region1"/>
                            <label for='region1'>Region name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region2" id="region2"/>
                            <label for='region2'>Region name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region3" id="region3"/>
                            <label for='region3'>Region name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region4" id="region4"/>
                            <label for='region4'>Region name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region5" id="region5"/>
                            <label for='region5'>Region name </label>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
</div>
<div class="column-one-quarter">
<div class="filter-form">
        <div class="inner-block">
            <div class="filter checkbox-filter js-openable-filter" tabindex="0">
                <div class="head">
                    <span class="legend">Individuals</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="individual-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual1" id="individual1"/>
                            <label for='individual1'>Individual name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual2" id="individual2"/>
                            <label for='individual2'>Individual name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual3" id="individual3"/>
                            <label for='individual3'>Individual name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual4" id="individual4"/>
                            <label for='individual4'>Individual name </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual5" id="individual5"/>
                            <label for='individual5'>Individual name </label>
                        </li>
                    </ul>
                </div>
            </div>
</div>
</div>

</div>


</div>

<div class="grid-row">

<div class="column-one-quarter">
        <div class="form-group">

            <br>
            <a href="filter" class="button">Apply filters</a>
        </div>
    </div>

    
</div>

<p>Showing <span class="heading-small">Medway</span> team.</p>



  <iframe src="https://docs.google.com/spreadsheets/d/1GasITKiI1Zjj_JcAnMEjhSmcP-WxEHcueNJofkKUcqs/pubhtml?chrome=false&amp;widget=false&amp;headers=false" width="100%" height="280px" frameborder="0"></iframe>

  <a href="" class="link">Export</a>
<!-- 
<div class="table-container">
  <table class="detail-view">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="2" class="b-left">Capacity</th>
      <th colspan="12" class="b-left">Cases</th>
      <th colspan="2" class="b-left">Hours</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td class="b-left">Points Assigned</td>
      <td>Utilisation %</td>
      <td colspan="9" class="bg-yellow b-left"><a href="index"  class="active">Community <span class="expand">[-]</span></a></td>
      <td><a href="index-expand">Licence <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Custody <span class="expand">[+]</span></a></td>

      <td>Total</td>
      <td class="b-left">Contracted</td>
      <td>Reduced</td>
      
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
      <td class="bg-yellow pad-left b-left">Total</td>
      <td class="bg-yellow pad-left">Untiered</td>
      <td class="bg-yellow">D2</td>
      <td class="bg-yellow">D1</td>
      <td class="bg-yellow">C2</td>
      <td class="bg-yellow">C1</td>
      <td class="bg-yellow">B2</td>
      <td class="bg-yellow">B1</td>
      <td class="bg-yellow">A</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow b-left">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow b-left">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow b-left">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    
</table>
</div>
  -->





</main>

{% endblock %}


