{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <br>

  <div class="grid-row">


    <div class="column-one-quarter">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select class="form-control full">
            <option>NPS South East and Eastern</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select class="form-control full disabled">
            <option>Kent</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="form-group">
        <label class="form-label-bold">Team
          <select class="form-control full">
            <option>Medway</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="form-group">
      <br>
        <a href="" class="button search">Filter</a>
      </div>
    </div>

    

  </div>

  <ul id="sub-nav">

    <li>
    <a href="index">Overview</a>
    </li>
    <li>
      <a href="capacity" class="active">Capacity</a>
    </li>
    <!-- <li>
      <a href="cases">Cases</a>
    </li>  -->
    <!-- <li>
      <a href="">LDU Notes</a>
    </li>  -->   
  </ul>

<div class="breadcrumbs">
    <ol>
      <li><a href="index">Kent</a></li>
      <li><a href="capacity-in">Chris Smith</a></li>
    </ol>
  </div>
<ul class="sub-tabs">
    <li>
      <a href="capacity-in">Utilisation</a>
    </li>
    <li>
      <a href="capacity-bar-in" class="active">Caseload Breakdown</a>
    </li>
  </ul>

  <br>

 <!--  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">
          <select class="form-control">
            <option>This week</option>
            <option>This month</option>
            <option>Select date range</option>
          </select>
          <a href="" class="link link-left">Search</a>
        </label>


      </div>
    </div>



    

  </div> -->

   <div id="plotly-div-bar"></div>
  




</main>

{% endblock %}


