{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

 <!--  <h1 class="heading-medium grey">Medway</h1>
  <h2 class="heading-medium">Kent</h2>
  <h3 class="heading-medium">South East and Eastern</h3> -->

  <br>

  <div class="grid-row">


    <div class="column-one-quarter">
      <div class="form-group">
        <label class="form-label-bold">Region
          <select onchange="location = this.options[this.selectedIndex].value;" class="form-control full">
            <option value="index">All</option>
            <option value="index" selected>South East and Eastern</option>
            <option value="index">Region 1</option>
            <option value="index">Region 2</option>
            <option value="index">Region 3</option>
            <option value="index">Region 4</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="form-group">
        <label class="form-label-bold">LDU
          <select onchange="location = this.options[this.selectedIndex].value;" class="form-control full">
            <option value="ldu">All</option>
            <option value="ldu" selected>Kent</option>
            <option value="ldu">Essex North</option>
            <option value="ldu">Essex South</option>
            <option value="ldu">Surrey</option>
            <option value="ldu">Sussex</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="form-group">
        <label class="form-label-bold">Team
          <select onchange="location = this.options[this.selectedIndex].value;" class="form-control full">
            <option value="kent">All</option>
            <option value="kent" selected>Medway</option>
            <option value="kent">Maidstone</option>
            <option value="kent">Swale</option>
            <option value="kent">Thanet</option>
            <option value="kent">Canterbury</option>
          </select>
        </label>
      </div>
    </div>

    <div class="column-one-quarter">
      <div class="form-group">
      
      </div>
    </div>

    

  </div>


   


  <ul id="sub-nav">

    <li>
      <a href="index" class="active">Overview</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <!-- <li>
      <a href="cases">Cases</a>
    </li>  -->
    <!-- <li>
      <a href="">LDU Notes</a>
    </li>  -->
  </ul>

  <br>
   <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">
          <select class="form-control">
            <option>This week</option>
            <option>This month</option>
            <option>Select date range</option>
          </select>
          <!-- <a href="" class="link link-left">Search</a> -->
        </label>


      </div>
    </div>



    

  </div>



  <iframe src="https://docs.google.com/spreadsheets/d/1GasITKiI1Zjj_JcAnMEjhSmcP-WxEHcueNJofkKUcqs/pubhtml?chrome=false&amp;widget=false&amp;headers=false" width="100%" height="280px" frameborder="0"></iframe>

  <a href="" class="link">Export</a>
<!-- 
<div class="table-container">
  <table class="detail-view">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="2" class="b-left">Capacity</th>
      <th colspan="12" class="b-left">Cases</th>
      <th colspan="2" class="b-left">Hours</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td class="b-left">Points Assigned</td>
      <td>Utilisation %</td>
      <td colspan="9" class="bg-yellow b-left"><a href="index"  class="active">Community <span class="expand">[-]</span></a></td>
      <td><a href="index-expand">Licence <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Custody <span class="expand">[+]</span></a></td>

      <td>Total</td>
      <td class="b-left">Contracted</td>
      <td>Reduced</td>
      
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
      <td class="bg-yellow pad-left b-left">Total</td>
      <td class="bg-yellow pad-left">Untiered</td>
      <td class="bg-yellow">D2</td>
      <td class="bg-yellow">D1</td>
      <td class="bg-yellow">C2</td>
      <td class="bg-yellow">C1</td>
      <td class="bg-yellow">B2</td>
      <td class="bg-yellow">B1</td>
      <td class="bg-yellow">A</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="b-left"></td>
      <td></td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow b-left">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow b-left">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Christopher Sisk</td>
      <td>PSO</td>
      <td class="b-left">35</td>
      <td>0</td>
      <td class="bg-yellow b-left">8</td>
      <td class="bg-yellow">7</td>
      <td class="bg-yellow">6</td>
      <td class="bg-yellow">5</td>
      <td class="bg-yellow">4</td>
      <td class="bg-yellow">3</td>
      <td class="bg-yellow">2</td>
      <td class="bg-yellow">1</td>
      <td class="bg-yellow">0</td>
      <td>1000</td>
      <td>0</td>
      <td>0</td>
      <td class="b-left">0</td>
      <td>0</td>
    </tr>

    
</table>
</div>
  -->





</main>

{% endblock %}


