{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "includes/breadcrumbs.html" %}

  {% include "includes/entity_header.html" %}

  {% include "includes/sub_nav.html" %}


  <h2 class="heading-large">Caseload totals</h2>

  <div class="grid-row">
    <div class="column-one-third">
      <div class="data">
        <span class="data-item bold-xlarge">24</span>
        <span class="data-item bold-xsmall">Custody cases</span>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <span class="data-item bold-xlarge">65</span>
        <span class="data-item bold-xsmall">Community cases</span>
      </div>
    </div>
    <div class="column-one-third">
      <div class="data">
        <span class="data-item bold-xlarge">263</span>
        <span class="data-item bold-xsmall">License cases</span>
      </div>
    </div>
  </div>

  <h2 class="heading-large">Caseload type breakdown</h2>

  <div class="js-tabs">
		<ul class="js-tabs-links">
			<li><a href="#overall">Overall</a></li>
			<li><a href="#custody">Custody</a></li>
			<li><a href="#community">Community</a></li>
			<li><a href="#license">License</a></li>
		</ul>

		<div class="js-tabs-content">
      <div id="overall">
        <h3 class="heading-medium">Overall caseload by tier</h3>

        <table class="data-table">
          <thead>
            <tr>
              <th colspan="2">Offender manager</th>
              <th colspan="9">Case tiers</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Untiered</th>
              <th>D2</th>
              <th>D1</th>
              <th>C2</th>
              <th>C1</th>
              <th>B2</th>
              <th>B1</th>
              <th>A</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody class="">
            <tr>
              <td><a href="#">Ademola Akinola</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Amanda Steyn</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Chelsea Luckham</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="/om/15?name=Clare%20Hastings">Clare Hastings</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">David Ashley</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Evonne Samuda</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Jane Brown</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Martin Smith</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mavis Tonkin</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mick Essen</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Pauline Hughes</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Rebecca Ashade</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
          </tbody>
        </table>
			</div>
			<div id="custody">
        <h3 class="heading-medium">Custody caseload by tier</h3>

        <table class="data-table">
          <thead>
            <tr>
              <th colspan="2">Offender manager</th>
              <th colspan="9">Case tiers</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Untiered</th>
              <th>D2</th>
              <th>D1</th>
              <th>C2</th>
              <th>C1</th>
              <th>B2</th>
              <th>B1</th>
              <th>A</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody class="">
            <tr>
              <td><a href="#">Ademola Akinola</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Amanda Steyn</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Chelsea Luckham</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="/om/15?name=Clare%20Hastings">Clare Hastings</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">David Ashley</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Evonne Samuda</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Jane Brown</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Martin Smith</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mavis Tonkin</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mick Essen</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Pauline Hughes</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Rebecca Ashade</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
          </tbody>
        </table>
			</div>
			<div id="community">
        <h3 class="heading-medium">Community caseload by tier</h3>

        <table class="data-table">
          <thead>
            <tr>
              <th colspan="2">Offender manager</th>
              <th colspan="9">Case tiers</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Untiered</th>
              <th>D2</th>
              <th>D1</th>
              <th>C2</th>
              <th>C1</th>
              <th>B2</th>
              <th>B1</th>
              <th>A</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody class="">
            <tr>
              <td><a href="#">Ademola Akinola</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Amanda Steyn</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Chelsea Luckham</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="/om/15?name=Clare%20Hastings">Clare Hastings</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">David Ashley</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Evonne Samuda</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Jane Brown</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Martin Smith</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mavis Tonkin</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mick Essen</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Pauline Hughes</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Rebecca Ashade</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
          </tbody>
        </table>
			</div>
			<div id="license">
        <h3 class="heading-medium">License caseload by tier</h3>

        <table class="data-table">
          <thead>
            <tr>
              <th colspan="2">Offender manager</th>
              <th colspan="9">Case tiers</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Untiered</th>
              <th>D2</th>
              <th>D1</th>
              <th>C2</th>
              <th>C1</th>
              <th>B2</th>
              <th>B1</th>
              <th>A</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody class="">
            <tr>
              <td><a href="#">Ademola Akinola</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Amanda Steyn</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Chelsea Luckham</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="/om/15?name=Clare%20Hastings">Clare Hastings</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">David Ashley</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Evonne Samuda</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Jane Brown</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Martin Smith</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mavis Tonkin</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
            <tr>
              <td><a href="#">Mick Essen</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Pauline Hughes</a></td>
              <td>PO</td>
              <td>0</td>
              <td>0</td>
              <td>2</td>
              <td>4</td>
              <td>0</td>
              <td>3</td>
              <td>4</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td><a href="#">Rebecca Ashade</a></td>
              <td>PSO</td>
              <td>1</td>
              <td>3</td>
              <td>2</td>
              <td>4</td>
              <td>2</td>
              <td>3</td>
              <td>0</td>
              <td>0</td>
              <td>13</td>
            </tr>
          </tbody>
        </table>
			</div>
		</div>
	</div>

  <br>



</main>
{% endblock %}

{% block page_specific_scripts %}
  <script src="/public/javascripts/jquery.tabs.js"></script>

  <script>
    $(function(){
      $('.js-tabs').tabs();
    });

  </script>
{% endblock %}
