{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "includes/breadcrumbs.html" %}

  {% include "includes/entity_header.html" %}


  {% include "includes/sub_nav.html" %}

  <br />
  <div class="grid-row">
    <div class="column-two-thirds">
      <table>
        <tbody>
          <tr>
            <th scope="row">LDU cluster</th>
            <td><a href="/ldu/kent">Kent</a></td>
          </tr>
          <tr>
            <th scope="row">Offender managers</th>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">Capacity</th>
            <td>108%</td>
          </tr>
          <tr>
            <th scope="row">Reduced hours</th>
            <td>241</td>
          </tr>
          <tr>
            <th scope="row">Number of cases</th>
            <td>498</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <br>
  <br>

  <table id="example" class="data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
    <thead>
      <tr>
        <th colspan="2">Offender manager</th>
        <th colspan="2">Capacity</th>
        <th colspan="2">Hours</th>
        <th>Cases</th>
      </tr>

      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Current (%)</th>
        <th>Points</th>
        <th>Contracted</th>
        <th>Reduction</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">Ademola Akinola</a></td>
        <td>PSO</td>
        <td>83%</td>
        <td>302</td>
        <td>37</td>
        <td>7</td>
        <td>35</td>
      </tr>
      <tr>
        <td><a href="#">Amanda Steyn</a></td>
        <td>PO</td>
        <td>109%</td>
        <td>-193</td>
        <td>37</td>
        <td>0</td>
        <td>39</td>
      </tr>
      <tr>
        <td><a href="#">Chelsea Luckham</a></td>
        <td>PSO</td>
        <td>9%</td>
        <td>767</td>
        <td>37</td>
        <td>22.60</td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="/om/15?name=Clare%20Hastings">Clare Hastings</a></td>
        <td>PO</td>
        <td>58%</td>
        <td>914</td>
        <td>37</td>
        <td>0</td>
        <td>19</td>
      </tr>
      <tr>
        <td><a href="#">David Ashley</a></td>
        <td>PO</td>
        <td>108%</td>
        <td>-177</td>
        <td>37</td>
        <td>0</td>
        <td>38</td>
      </tr>
      <tr>
        <td><a href="#">Evonne Samuda</a></td>
        <td>PO</td>
        <td>104%</td>
        <td>-82</td>
        <td>37</td>
        <td>2</td>
        <td>36</td>
      </tr>
      <tr>
        <td><a href="#">Jane Brown</a></td>
        <td>PO</td>
        <td>116%</td>
        <td>-339</td>
        <td>37</td>
        <td>0</td>
        <td>44</td>
      </tr>
      <tr>
        <td><a href="#">Martin Smith</a></td>
        <td>PSO</td>
        <td>0%</td>
        <td>-533</td>
        <td>37</td>
        <td>37</td>
        <td>16</td>
      </tr>
      <tr>
        <td><a href="#">Mavis Tonkin</a></td>
        <td>PSO</td>
        <td>56%</td>
        <td>386</td>
        <td>37</td>
        <td>22.20</td>
        <td>16</td>
      </tr>
      <tr>
        <td><a href="#">Mick Essen</a></td>
        <td>PO</td>
        <td>110%</td>
        <td>-210</td>
        <td>37</td>
        <td>0</td>
        <td>39</td>
      </tr>
      <tr>
        <td><a href="#">Pauline Hughes</a></td>
        <td>PO</td>
        <td>81%</td>
        <td>378</td>
        <td>33.60</td>
        <td>0</td>
        <td>31</td>
      </tr>
      <tr>
        <td><a href="#">Rebecca Ashade</a></td>
        <td>PSO</td>
        <td>72%</td>
        <td>152</td>
        <td>30</td>
        <td>20</td>
        <td>7</td>
      </tr>
    </tbody>
  </table>

</main>
{% endblock %}

{% block page_specific_scripts %}
  <script>
    $(document).ready(function() {
      $('#example').dataTable({
        paging: false,
        searching: false,
        info: false
      });
    });
  </script>
{% endblock %}
