{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "includes/breadcrumbs.html" %}

  {% include "includes/entity_header.html" %}

  {% include "includes/sub_nav.html" %}

  <h2 class="heading-large">Capacity</h2>
  <h3 class="heading-medium">Average capacity</h3>
  <p>{{entityTitle}}'s average capacity and reduction from <time class="bold"
  datetime="2001-05-15T19:00">1 July '16</time> and <time class="bold"
  datetime="2001-05-15T19:00">26 June '17</time>. <a href="/date-change?omID={{omID}}">Change the date range</a>.</p>

  <div id="profile-capacity"></div>

</main>
{% endblock %}

{% block page_specific_scripts %}
  <script src="/public/javascripts/profile-capacity.js"></script>
{% endblock %}
