{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "includes/breadcrumbs.html" %}

  {% include "includes/entity_header.html" %}

  {% include "includes/sub_nav.html" %}

  {% if contractedHours %}
    <div class="message message--success">You have successfully updated the contracted hours for {{entityTitle}}</div>
  {% endif %}
  <br>
  <div class="grid-row">
    <div class="column-two-thirds">
      <table>
        <tbody>
          <tr>
            <th scope="row">Grade</th>
            <td class="numeric">PO</td>
          </tr>
          <tr>
            <th scope="row">Team</th>
            <td class="numeric"><a href="/team/medway">Medway</a></td>
          </tr>
          <tr>
            <th scope="row">Capacity</th>
            <td class="numeric">58%</td>
          </tr>
          <tr>
            <th scope="row">Cases</th>
            <td class="numeric">19</td>
          </tr>
          <tr>
            <th scope="row">Contracted hours</th>
            <td class="numeric">
              37
              <div class="">
                <a class="font-xsmall" href="/om/{{ omID }}/contracted-hours">Change <span class="visuallyhidden">contracted hours</span></a>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Reduction</th>
            <td class="numeric">0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</main>
{% endblock %}
