{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}





<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <br>

    <div class="grid-row">

        <div class="column-one-half">

            <h1 class="heading-medium">Community</h1>
            <table class="table settings">

                <tr>
                    <th>Tier</th>
                    <th>Points</th>
                </tr>

                <tr>
                    <td>D2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>


                <tr>
                    <td>D2 CP</td>

                    <td>
<div class="multiple-choice" data-target="example-different-country">
              <input id="nationalities-other" name="nationalities" type="checkbox" value="Citizen of a different country">
              <label for="nationalities-other">Active</label>
            </div>
            

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td>D1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>C2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>C2 Enchanced</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>
                    <td colspan="2">Active <input type="checkbox" >
                    </td>
                </tr>
                <tr>
                    <td>C1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>B2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>B1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>A</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

            </table>
            <hr>
            <h1 class="heading-medium">Licence</h1>
            <table class="table settings">

                <tr>
                    <th>Tier</th>
                    <th>Points</th>
                </tr>

                <tr>
                    <td>D2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>
                    <td>D1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>C2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>

                    <td>C1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>

                    <td>B2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>B1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>A</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

            </table>

            <hr>
            <h1 class="heading-medium">Custody</h1>
            <table class="table settings">

                <tr>
                    <th>Tier</th>
                    <th>Points</th>
                </tr>

                <tr>
                    <td>D2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>
                    <td>D1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>C2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>

                    <td>C1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

                <tr>

                    <td>B2</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>B1</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>A</td>

                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>

            </table>

            <br>
            <button href="" class="button">Save changes</button>

        </div>

        <div class="column-one-half">
            <table class="table">

                <tr>
                    <td>sdfgsfg</td>

                    <td>
                        <input type="checkbox">
                        <label>aa</label>
                    </td>
                </tr>

            </table>

        </div>

    </div>


</main>

{% endblock %}


