{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <h1 class="heading-xlarge">
      <span class="heading-secondary">South East and Eastern</span>
       Kent - Medway
    </h1>
  <ul id="sub-nav">

    <li>
    <a href="index">Overview</a>
    </li>
    <li>
      <a href="capacity" class="active">Capacity</a>
    </li>
    <!-- <li>
      <a href="cases">Cases</a>
    </li>  -->
    <!-- <li>
      <a href="">LDU Notes</a>
    </li>  -->   
  </ul>


  <!-- <ul class="sub-tabs">
    <li>
      <a href="" class="active">Line Chart</a>
    </li>
    <li>
      <a href="">Role</a>
    </li>
  </ul> -->

  <br>

 <!--  <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">
          <select class="form-control">
            <option>This week</option>
            <option>This month</option>
            <option>Select date range</option>
          </select>
          <a href="" class="link link-left">Search</a>
        </label>


      </div>
    </div>



    

  </div> -->
  <div id="plotly-div"></div>
  
<div id="myDiv" style="width: 100%; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>



</main>

{% endblock %}


