{% extends "layout.html" %}

{% block page_title %}
  {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <h1 class="heading-xlarge">
       Alpha Prototype
        
      </h1> -->

      <h2 class="heading-large">Alpha prototype</h2>

      <h2 class="heading-medium">Sprint 1</h2>


      <ul class="list list-bullet">

      <li><a href="alpha/v1/index-v1">v1</a></li>

      <li><a href="alpha/v1/index">v1.1</a></li>
				<li><a href="alpha/v1/index">Scenario A: Case allocation:</a> You have to allocate a new, [Tier C2] case using WMT. Check who has the extra capacity to pick up this case in your team.</li>

        <li><a href="alpha/v1/index">Scenario B: PO utilisation:</a> Annual appraisal of one of your team member, [PO, Susan Wilkins] is scheduled for today. Check her performance and utilisation over the last year.</li>

        <li><a href="alpha/v1/index">Scenario C: Team utilisation:</a> You are preparing a report on [KNT Medway] utilisation for financial year 2016-2017. Compare the performance to [KNT Medway] to that of other teams in the [Kent] LDU</li>

			</ul>

    
      

    </div>
  </div>
</main>

{% endblock %}


