{% extends "layout.html" %}

{% block page_title %}
  {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <h1 class="heading-xlarge">
       Alpha Prototype
        
      </h1> -->

      <h2 class="heading-large">Alpha prototype</h2>

      <h2 class="heading-medium">Sprint 1</h2>

      <ul class="list list-bullet">
						<li><a href="alpha/v1/index">V 1.0</a>
						</li>
					</ul>

    
      

    </div>
  </div>
</main>

{% endblock %}


