{% extends "layout.html" %}

{% block page_title %}
  {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <h1 class="heading-xlarge">
       Alpha Prototype
        
      </h1> -->

      <h2 class="heading-large">Alpha prototype</h2>

      <h2 class="heading-medium">Sprint 2</h2>


      <ul class="list list-bullet">

      <li><a href="alpha/v2-2/index">v2.2</a>
      <p>Search on each level</p>
      </li>

      <li><a href="alpha/v2-1/index">v2.1</a>
      <p>Search structure added team</p>
      </li>

      <li><a href="alpha/v2/capacity">v2</a>
      <p>Plot.ly integration</p>
      </li>

      

        
      </ul>

      <hr>

      <h2 class="heading-medium">Sprint 1</h2>


      <ul class="list list-bullet">

      <li><a href="alpha/v1/index">v1.1</a>
      <p>Tests for scenario A and scenario B</p>
      </li>

      <li><a href="alpha/v1/index-v1">v1</a>
      <p>UI experiments</p>
      </li>

      
				
			</ul>

    
      

    </div>
  </div>
</main>

{% endblock %}


