{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}

  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/docs" id="proposition-name">
          {% block service_name %}
          {% endblock %}
        </a>

        <ul id="proposition-links">
          <li><a href="">Home</a></li>
          <li><a href="">Nav</a></li>
          <li><a href="">Nav</a></li>
          <!-- <li><a href="">Team</a></li>
          <li><a href="">LDU</a></li>
          <li><a href="">Region</a></li>
          <li><a href="">NPS</a></li>
          <li><a href="">Reporting</a></li>
          <li><a href="">Admin</a></li>
          <li><a href="">User guides</a></li> -->
        </ul>

      </nav>
    </div>
  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
