{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/docs" id="proposition-name">Workload Management Tool</a>

        {% include "includes/proposition_links.html" %}

      </nav>
    </div>
  </div>
{% endblock %}


{% block header_class %}
  with-proposition
{% endblock %}



{% block body_end %}
  {% include "includes/scripts.html" %}
  {% block page_specific_scripts %}{% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
