{% extends "layout.html" %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% set breadcrumbs = {
      items: [
        {
          link: 'index',
          title: 'South East and Easter'
        },
        {
          link: '/beta/v5/ldu/capacity',
          title: 'Kent'
        },
        {
          title: 'Medway'
        }
      ]
    }
  %}
  {% include "includes/breadcrumbs.html" %}

  <ul id="sub-nav">
    <li><a href="#" class="active">Overview</a></li>
    <li><a href="/beta/v5/team/capacity">Capacity</a></li>
    <li><a href="/beta/v5/team/caseload">Caseload</a></li>
    <li><a href="#">Case progress</a></li>
    <li><a href="#">Notes</a></li>
  </ul>

  <header class="heading-xlarge">
    <span class="heading-secondary">
      Team profile <span class="visuallyhidden">for</span>
    </span>
    Medway
  </header>

  <div class="grid-row">
    <div class="column-two-thirds">
      <table>
        <tbody>
          <tr>
            <th scope="row">LDU</th>
            <td><a href="/beta/v5/LDU/capacity">Kent</a></td>
          </tr>
          <tr>
            <th scope="row">Offender managers</th>
            <td>12</td>
          </tr>
          <tr>
            <th scope="row">Capacity</th>
            <td>100%</td>
          </tr>
          <tr>
            <th scope="row">Reduction</th>
            <td>10%</td>
          </tr>
          <tr>
            <th scope="row">Number of cases</th>
            <td>44</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="column-one-third">
      <section class="wmt-compare">
        <form class="" action="" method="post">
          <h1 class="heading-medium">Compare</h1>
          <div>
            Compare Medway to:
          </div>
          <select class="wmt-compare__select form-control" name="">
            <option selected>Canterbury</option>
            <option>Dartford &amp; Gravesham</option>
            <option>Maidstone</option>
            <option>South East Kent</option>
            <option>Swale</option>
            <option>Thanet</option>
            <option>West Kent</option>

          </select>
          <input type="submit" class="button" value="Compare now">
          <div><a href="#">or use the compare tool</a></div>
        </form>
      </section>
    </div>
  </div>

  <br>
  <br>

  <table id="example" class="data-table dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
    <thead>
      <tr>
        <th colspan="2">Officer</th>
        <th colspan="4">Total</th>
        <th colspan="2">Hours</th>
      </tr>

      <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Cases</th>
        <th>Priority</th>
        <th>PAROMs (Due)</th>
        <th>Points</th>
        <th>Contracted</th>
        <th>Reduced</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ademola Akinola</td>
        <td>PSO</td>
        <td>35</td>
        <td>0</td>
        <td>0</td>
        <td>1462</td>
        <td>37</td>
        <td>7</td>
      </tr>
      <tr>
        <td>Amanda Steyn</td>
        <td>PO</td>
        <td>39</td>
        <td>0</td>
        <td>0</td>
        <td>2369</td>
        <td>37</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Chelsea Luckham</td>
        <td>PSO</td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
        <td>80</td>
        <td>37</td>
        <td>22.60</td>
      </tr>
      <tr>
        <td>Clare Hastings</td>
        <td>PO</td>
        <td>19</td>
        <td>0</td>
        <td>1</td>
        <td>1262</td>
        <td>37</td>
        <td>0</td>
      </tr>
      <tr>
        <td>David Ashley</td>
        <td>PO</td>
        <td>38</td>
        <td>0</td>
        <td>2</td>
        <td>2353</td>
        <td>37</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Evonne Samuda</td>
        <td>PO</td>
        <td>36</td>
        <td>0</td>
        <td>0</td>
        <td>2140</td>
        <td>37</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Jane Brown</td>
        <td>PO</td>
        <td>44</td>
        <td>0</td>
        <td>0</td>
        <td>2515</td>
        <td>37</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Martin Smith</td>
        <td>PSO</td>
        <td>16</td>
        <td>0</td>
        <td>0</td>
        <td>533</td>
        <td>37</td>
        <td>37</td>
      </tr>
      <tr>
        <td>Mavis Tonkin</td>
        <td>PSO</td>
        <td>16</td>
        <td>0</td>
        <td>0</td>
        <td>484</td>
        <td>37</td>
        <td>22.20</td>
      </tr>
      <tr>
        <td>Mick Essen</td>
        <td>PO</td>
        <td>39</td>
        <td>0</td>
        <td>0</td>
        <td>2386</td>
        <td>37</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Pauline Hughes</td>
        <td>PO</td>
        <td>31</td>
        <td>0</td>
        <td>1</td>
        <td>1598</td>
        <td>33.60</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Rebecca Ashade</td>
        <td>PSO</td>
        <td>7</td>
        <td>0</td>
        <td>0</td>
        <td>426</td>
        <td>30</td>
        <td>20</td>
      </tr>
    </tbody>
  </table>

</main>
{% endblock %}
