{% extends "layout.html" %}

{% block page_title %}
{% block service_name %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% endblock %}

{% block content %}





<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

<!--  <h1 class="heading-medium grey">Medway</h1>
<h2 class="heading-medium">Kent</h2>
<h3 class="heading-medium">South East and Eastern</h3> -->


<br>

<!-- <div class="grid-row">

<div class="column-one-quarter">
        <div class="form-group">
<label class="form-label-bold">Search
          <input class="form-control full">
        </label>
        </div>
    </div>

    
</div> -->

<!--  <div class="breadcrumbs">
<ol>
<li><a href="">South East and Eastern</a></li>
<li><a href="">Kent</a></li>
<li><a href="">Medway</a></li>
</ol>

<a href="" class="link">remove</a>

</div> -->


<div class="grid-row">

<div class="column-one-quarter">

<div class="filter-form">
        <div class="inner-block">
<div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
                <div class="head">
                    <span class="legend">Divisions</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="Division-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division1" id="division1"/>
                            <label for='division1'>Select all </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division2" id="division2" checked />
                            <label for='division2'>South East and Eastern </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division3" id="division3"/>
                            <label for='division3'>London </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division4" id="division4"/>
                            <label for='division4'>North East </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division5" id="division5"/>
                            <label for='division5'>North West </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_division[]" value="division5" id="division5"/>
                            <label for='division5'>Wales </label>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
</div>


<div class="column-one-quarter">
<div class="filter-form">
        <div class="inner-block">
            <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
                <div class="head">
                    <span class="legend">LDU Clusters</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="ldu-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual1" id="individual1"/>
                            <label for='individual1'>Select all </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu1" id="ldu1" checked />
                            <label for='ldu1'>Kent </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu2" id="ldu2"/>
                            <label for='ldu2'>Essex North </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu3" id="ldu3"/>
                            <label for='ldu3'>Essex South</label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu4" id="ldu4"/>
                            <label for='ldu4'>Surrey </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_ldu[]" value="ldu5" id="ldu5"/>
                            <label for='ldu5'>Sussex </label>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
</div>

<div class="column-one-quarter">
<div class="filter-form">
        <div class="inner-block">
            <div class="filter checkbox-filter js-openable-filter closed" tabindex="0" >
                <div class="head">
                    <span class="legend">Teams</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="region-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual1" id="individual1"/>
                            <label for='individual1'>Select all </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region1" id="region1" checked/>
                            <label for='region1'>Medway </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region2" id="region2"/>
                            <label for='region2'>Maidstone </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region3" id="region3"/>
                            <label for='region3'>Swale </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region4" id="region4"/>
                            <label for='region4'>Thanet </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_region[]" value="region5" id="region5"/>
                            <label for='region5'>Canterbury </label>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
</div>
<div class="column-one-quarter">
<div class="filter-form">
        <div class="inner-block">
            <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">
                <div class="head">
                    <span class="legend">Individuals</span>
                    <div class="controls">
                        <div class="toggle"></div>
                    </div>
                </div>
                <div class="checkbox-container" id="individual-filter">
                    <ul>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual1" id="individual1" checked/>
                            <label for='individual1'>Select all </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual1" id="individual1"/>
                            <label for='individual1'>Chris Smith </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual2" id="individual2"/>
                            <label for='individual2'>Simon Brown </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual3" id="individual3"/>
                            <label for='individual3'>Conor Smitt </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual4" id="individual4"/>
                            <label for='individual4'>Tom Sweeney </label>
                        </li>
                        <li>
                            <input type="checkbox" name="filter_individual[]" value="individual5" id="individual5"/>
                            <label for='individual5'>Joe Bloggs </label>
                        </li>
                    </ul>
                </div>
            </div>
</div>
</div>

</div>


</div>

<div class="grid-row">

<div class="column-one-quarter">
        <div class="form-group">

            <br>
            <a href="filter" class="button">Apply new filters</a>
        </div>
    </div>

    
</div>



   



  <ul id="sub-nav">

    <li>
      <a href="index" class="active">Overview</a>
    </li>
    <li>
      <a href="capacity">Capacity</a>
    </li>
    <!-- <li>
      <a href="cases">Cases</a>
    </li>  -->
    <!-- <li>
      <a href="">LDU Cluster Notes</a>
    </li>  -->
  </ul>

 <br>

 <div class="grid-row">


    <div class="column-one-third">
      <div class="form-group">
        <label class="form-label-bold">
          <select class="form-control">
            <option>This week</option>
            <option>This month</option>
            <option>Select date range</option>
          </select>
          <!-- <a href="" class="link link-left">Search</a> -->
        </label>


      </div>
    </div>



    

  </div>

 




<iframe src="https://docs.google.com/spreadsheets/d/1spRTpSmul62T9Vhjpm8uwL41oIegW4e3iaOhagHQnGs/pubhtml?gid=0&amp;single=true&amp;chrome=false&amp;widget=false&amp;headers=false" width="100%" height="250px" frameborder="0"></iframe>
<a href="" class="link">Export</a>

<!-- 
<div class="table-container">
  <table class="detail-view">
    
    <tr>
      <th colspan="2">Officer</th>
      <th colspan="2" class="b-left">Capacity</th>
      <th colspan="4" class="b-left">Cases</th>
      <th colspan="2" class="b-left">Hours</th>
    </tr>

    <tr class="table-sub-header">
      <td>Name</td>
      <td>Grade</td>
      <td class="b-left">Points Remaining</td>
      <td>Capacity</td>
      <td class="b-left"><a href="index-expand">Community <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Licence <span class="expand">[+]</span></a></td>
      <td><a href="index-expand">Custody <span class="expand">[+]</span></a></td>

      <td>Total</td>
      <td class="b-left">Contracted</td>
      <td>Reduced</td>
      
    </tr>

    <tr>
      <td>Christopher Kelly</td>
      <td>PO</td>
      <td class="b-left"> <span class="o-u">&#8211;208</span></td>
      <td> <span class="o-u">109%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>5</td>
      <td>35</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Simon Brown</td>
      <td>PSO</td>
      <td class="b-left"> <span class="o-u">&#8211;404</span></td>
      <td> <span class="o-u">124%</span></td>
      <td class="b-left">5</td>
      <td>31</td>
      <td>5</td>
      <td>41</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Conor Smitt</td>
      <td>PO</td>
      <td class="b-left">120</td>
      <td>89%</td>
      <td class="b-left">8</td>
      <td>10</td>
      <td>12</td>
      <td>30</td>
      <td class="b-left">37</td>
      <td>22.60</td>
    </tr>

    <tr>
      <td>Thomas Sweeney</td>
      <td>PO</td>
      <td class="b-left">30</td>
      <td>93%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Joe Bloggs</td>
      <td>PO</td>
      <td class="b-left">80</td>
      <td>96%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Jim Wright</td>
      <td>PO</td>
      <td class="b-left"><span class="o-u">&#8211;210</span></td>
      <td><span class="o-u">110%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>9</td>
      <td>39</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Betty White</td>
      <td>PO</td>
      <td class="b-left"> <span class="o-u">&#8211; 208</span></td>
      <td> <span class="o-u">109%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>5</td>
      <td>35</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>John Orange</td>
      <td>PQF</td>
      <td class="b-left"> <span class="o-u">&#8211; 404</span></td>
      <td> <span class="o-u">124%</span></td>
      <td class="b-left">5</td>
      <td>31</td>
      <td>5</td>
      <td>41</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Colin Black</td>
      <td>PSO</td>
      <td class="b-left">67</td>
      <td>97%</td>
      <td class="b-left">8</td>
      <td>10</td>
      <td>12</td>
      <td>30</td>
      <td class="b-left">37</td>
      <td>22.60</td>
    </tr>

    <tr>
      <td>Tim Purple</td>
      <td>PQF</td>
      <td class="b-left">99</td>
      <td>91%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Sam Blue</td>
      <td>PO</td>
      <td class="b-left">97</td>
      <td>98%</td>
      <td class="b-left">15</td>
      <td>15</td>
      <td>1</td>
      <td>31</td>
      <td class="b-left">33.60</td>
      <td>0</td>
    </tr>

    <tr>
      <td>Joe Green</td>
      <td>PO</td>
      <td class="b-left"><span class="o-u">&#8211;210</span></td>
      <td><span class="o-u">110%</span></td>
      <td class="b-left">20</td>
      <td>10</td>
      <td>9</td>
      <td>39</td>
      <td class="b-left">37</td>
      <td>0</td>
    </tr>

    
</table>
</div>
  -->





</main>

{% endblock %}


